.wb-snowflake {
    color: #eeeeee;
    font-size: 20px;
    font-family: Arial, sans-serif;
    pointer-events: none;
}

.wb-snowflake,
.wb-snowflake .wb-inner {
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes wb-snowflakes-fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(110vh);
    }
}
@keyframes wb-snowflakes-shake {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(80px);
    }
}
.wb-snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    animation-name: wb-snowflakes-shake;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
.wb-snowflake .wb-inner {
    animation-duration: 10s;
    animation-name: wb-snowflakes-fall;
    animation-timing-function: linear;
}
.wb-snowflake:nth-of-type(0) {
    left: 1%;
    animation-delay: 0s;
}
.wb-snowflake:nth-of-type(0) .wb-inner {
    animation-delay: 0s;
}
.wb-snowflake:first-of-type {
    left: 10%;
    animation-delay: 1s;
}
.wb-snowflake:first-of-type .wb-inner,
.wb-snowflake:nth-of-type(8) .wb-inner {
    animation-delay: 1s;
}
.wb-snowflake:nth-of-type(2) {
    left: 20%;
    animation-delay: 0.5s;
}
.wb-snowflake:nth-of-type(2) .wb-inner,
.wb-snowflake:nth-of-type(6) .wb-inner {
    animation-delay: 6s;
}
.wb-snowflake:nth-of-type(3) {
    left: 30%;
    animation-delay: 2s;
}
.wb-snowflake:nth-of-type(11) .wb-inner,
.wb-snowflake:nth-of-type(3) .wb-inner {
    animation-delay: 4s;
}
.wb-snowflake:nth-of-type(4) {
    left: 40%;
    animation-delay: 2s;
}
.wb-snowflake:nth-of-type(10) .wb-inner,
.wb-snowflake:nth-of-type(4) .wb-inner {
    animation-delay: 2s;
}
.wb-snowflake:nth-of-type(5) {
    left: 50%;
    animation-delay: 3s;
}
.wb-snowflake:nth-of-type(5) .wb-inner {
    animation-delay: 8s;
}
.wb-snowflake:nth-of-type(6) {
    left: 60%;
    animation-delay: 2s;
}
.wb-snowflake:nth-of-type(7) {
    left: 70%;
    animation-delay: 1s;
}
.wb-snowflake:nth-of-type(7) .wb-inner {
    animation-delay: 2.5s;
}
.wb-snowflake:nth-of-type(8) {
    left: 80%;
    animation-delay: 0s;
}
.wb-snowflake:nth-of-type(9) {
    left: 90%;
    animation-delay: 1.5s;
}
.wb-snowflake:nth-of-type(9) .wb-inner {
    animation-delay: 3s;
}
.wb-snowflake:nth-of-type(10) {
    left: 25%;
    animation-delay: 0s;
}
.wb-snowflake:nth-of-type(11) {
    left: 65%;
    animation-delay: 2.5s;
}

@media screen and (min-width: 600px) {
    .wb-snowflake {
        font-size: 40px;
    }
}
