.page-width-desktop, .page-width, .slider-component.page-width, .wb-banner-content, .wb-gifts {
    padding: 0!important;
    margin: 0!important;
    max-width: 1200px;
}

.wb-banded .wb-first-item {
    background-color: transparent;
}

.card-wrapper {
    padding: 0;
}