.wb-announcement-bar {
    letter-spacing: 0;
}

.page-width-desktop, .page-width, .slider-component.page-width, .wb-banner-content, .wb-gifts {
    padding: 0!important;
    margin: 0!important;
    max-width: 1200px;
}

.wb-banded .wb-first-item {
    background-color: transparent;
}

.card-wrapper, .card--standard>.card__content.wb-productcontent .card__information {
    padding: 0;
}

.card--standard>.card__content.wb-productcontent {
    padding: 10px 20px;
}

.card--standard>.card__content.wb-productcontent a {
    text-decoration: none!important;
}

.wb-productdetails {
    font-size: 12px;
}

.wb-main-cards .card:not(.ratio)>.card__content {
    padding: 10px 0;
}

.card--standard>.card__content .card__information.wb-card-details {
    padding: 12px 18px;
}

.wb-cards, .image-with-text__content {
    padding: 0!important;
}

.wb-card-image {
    height: auto;
}

.image-with-text__media {
    border: none;
}

.badge {
    transform: rotate(8deg);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    padding: 8px 10px 6px 10px;
    margin: 4px;
}

.wb-productcell:has(.price--sold-out) {
    opacity: 0.4!important;
}

h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5, .price {
    letter-spacing: normal!important;
}

span.price-item.price-item--regular {
    font-size: 14px;
}

@media screen and (min-width: 1024px) {

    .card--standard>.card__content .card__information.wb-card-details {
        padding: 18px 28px;
    }

.badge {
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 16px;
    padding: 12px 16px 10px 16px;
    margin: 16px;
}

}