.page-width-desktop, .page-width, .slider-component.page-width, .wb-banner-content, .wb-gifts {
    padding: 0!important;
    margin: 0!important;
    max-width: 1200px;
}

.wb-banded .wb-first-item {
    background-color: transparent;
}

.card-wrapper, .card--standard>.card__content.wb-productcontent .card__information {
    padding: 0;
}

.card--standard>.card__content.wb-productcontent {
    padding: 10px 20px;
}

.card--standard>.card__content.wb-productcontent a {
    text-decoration: none!important;
}

.wb-productdetails {
    font-size: 12px;
}

.card--standard>.card__content {
    padding: 10px 0;
}

.card--standard>.card__content .card__information.wb-card-details {
    padding: 12px 18px;
}

.wb-cards {
    padding: 0!important;
}

.wb-card-image {
    height: auto;
}

@media screen and (min-width: 1024px) {

    .card--standard>.card__content .card__information.wb-card-details {
        padding: 18px 28px;
    }

}