@font-face {
  font-family: 'trimPosterCompressed';
  font-display: block;
  src:
    url('../TrimPosterWeb-Compressed.eot'),
    url('../TrimPosterWeb-Compressed.woff') format('woff'),
    url('../TrimPosterWeb-Compressed.ttf') format('truetype');
}

.wb-large-heading,
.wb-medium-heading,
.wb-small-heading {
  font-family: 'trimPosterCompressed', sans-serif;
  font-weight: 100;
  word-break: break-word;
  hyphens: auto;
}

.wb-large-heading a,
.wb-medium-heading a,
.wb-small-heading a {
  font-weight: 100;
}

.wb-large-heading {
  font-size: 82px;
  line-height: 64px;
  margin: 16px 0;
}

.wb-medium-heading {
  font-size: 52px;
  line-height: 42px;
  margin: 12px 0;
}

.wb-small-heading {
  font-size: 38px;
  line-height: 30px;
  margin: 8px 0;
}

.wb-tiny-heading {
  font-size: 16px;
  line-height: 20px;
  margin: 4px 0;
}

@media screen and (min-width: 600px) {
  .wb-large-heading {
    font-size: 92px;
    line-height: 72px;
  }

  .wb-medium-heading {
    font-size: 62px;
    line-height: 50px;
  }

  .wb-small-heading {
    font-size: 42px;
    line-height: 34px;
  }
}

@media screen and (min-width: 1024px) {
  .wb-large-heading {
    font-size: 122px;
    line-height: 92px;
  }

  .wb-medium-heading {
    font-size: 82px;
    line-height: 64px;
  }

  .wb-small-heading {
    font-size: 52px;
    line-height: 42px;
  }
}
