p {
    max-width: 768px;
}

h1 a,
h2 a,
h3 a {
    text-decoration: none;
    color: #000000;
}

.wb-buttons {
    display: block;
    margin-top: 10px;
    z-index: 2;
    position: relative;
}

.wb-button,
input.wb-button,
.wb-buttons input.wb-button {
    border: 2px solid #169776;
    background-color: transparent;
    padding: 14px 24px;
    font-weight: 700;
    text-decoration: none;
    display: block;
    margin: 10px 10px 0 0;
    border-radius: 6px;
    color: #169776;
    transition: all 0.3s;
    font-size: 18px;
    line-height: 160%;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.wb-button:hover,
input.wb-button:hover,
.wb-buttons input.wb-button:hover {
    border: 2px solid #333333;
    color: #333333;
}

.wb-primary-button,
input.wb-primary-button,
.wb-buttons input.wb-primary-button {
    border: 2px solid #169776;
    background-color: #169776;
    color: #ffffff;
}

.wb-primary-button:hover,
input.wb-primary-button:hover,
.wb-buttons input.wb-primary-button:hover {
    background-color: #333333;
    color: #ffffff;
}

.wb-photo-holder {
    height: 1px;
    display: block;
    position: relative;
    width: 100%;
}

.wb-photo-holder img {
    width: 280px;
    left: calc(50% - 140px);
    position: absolute;
    display: block;
}

.wb-cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-size: 16px;
    line-height: 150%;
    gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}

.wb-cards li {
    flex: 100%;
    background-color: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s;
}

.wb-cards li:hover {
    border: 2px solid #999999;
}

.wb-card-details {
    position: relative;
    padding: 12px 18px;
}

.wb-card-image {
    height: 34vw;
    overflow: hidden;
    position: relative;
}

.wb-card-image img {
    height: 100%;
}

.wb-videobg {
    height: 320px;
    background-color: #333333;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    margin-bottom: 300px;
    display: block;
    background-size: cover;
    background-position: center;
}

#wb-video {
    position: absolute;
    top: 0;
    left: -15%;
    height: 100%;
    width: auto;
    z-index: 1;
}

.wb-imagebg {
    height: 400px;
    max-height: 768px;
    background-color: #333333;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    display: block;
    background-size: cover;
    background-position: center center;
}

.wb-imagebg .wb-padding {
    position: absolute;
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 0;
    max-width: 80%;
    bottom: 0;
}

/*.wb-videograin {
    display: block;
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../video/wb-videograin.png);
}*/

.wb-overvideo {
    width: 90%;
    bottom: -300px;
    position: absolute;
    z-index: 3;
    background: #ffffff;
    font-size: 18px;
    line-height: 150%;
}

.wb-overvideo .wb-padding {
    padding-top: 20px;
}

.wb-first-item .wb-padding {
    padding-top: 20px;
}

.wb-create-options {
    list-style: none;
    padding: 0;
    position: relative;
    display: block;
}

.wb-create-options li {
    padding: 18px 24px;
    background-color: #eeeeee;
    position: relative;
    margin-bottom: 20px;
    overflow: unset;
    display: flex;
    align-items: center;
    color: #666666;
}

.wb-create-options li a {
    text-decoration: underline;
    text-decoration-style: wavy;
    color: #333333;
}

.wb-option-heading {
    font-size: 20px;
    line-height: 120%;
    margin: 0;
    display: block;
}

.wb-subtle-heading {
    font-size: 24px;
    line-height: 120%;
    margin: 0;
    display: block;
}

.wb-create-options li:hover {
    border: 2px solid #999999;
    color: #333333;
}

.wb-create-icon {
    float: left;
    display: block;
    height: 100%;
    margin-right: 20px;
    font-size: 42px;
    line-height: 120%;
    transform: rotate(-20deg);
    transition: 0.4s;
}

.wb-create-options li:hover .wb-create-icon {
    transform: rotate(0deg);
}

.wb-button-disabled,
input.wb-button-disabled,
input.wb-primary-button.wb-button-disabled {
    border: 2px solid #999999;
    background-color: #999999;
    pointer-events: none;
    cursor: not-allowed;
}

.wb-liquidGlass-wrapper {
    position: relative;
    display: flex;
    font-weight: 600;
    overflow: hidden;
    color: black;
    cursor: pointer;
    box-shadow:
        0 6px 6px rgba(0, 0, 0, 0.2),
        0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.wb-liquidGlass-effect {
    position: absolute;
    z-index: 0;
    inset: 0;
    backdrop-filter: blur(3px);
    filter: url(#glass-distortion);
    overflow: hidden;
    isolation: isolate;
}

.wb-liquidGlass-tint {
    z-index: 1;
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.25);
}

.wb-liquidGlass-shine {
    position: absolute;
    inset: 0;
    z-index: 2;
    overflow: hidden;
    box-shadow:
        inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
        inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
}
.wb-liquidGlass-text {
    z-index: 3;
}

.wb-price-sticker {
    background-image: url(../images/options/wb-price-sticker.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline;
    padding: 18px 22px;
    font-weight: 700;
    color: #a56437;
}

.wb-card-details .wb-emoji {
    position: absolute;
    top: -30px;
    right: 20px;
    font-size: 72px;
    transform: rotate(20deg);
}

.wb-note {
    padding: 12px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
    padding-left: 40px;
    position: relative;
}

.wb-note::before {
    content: " ";
    background-image: url(../wb-lightbulb-black.svg);
    background-size: contain;
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 12px;
}

.wb-right-image {
    position: relative;
    display: block;
    margin-bottom: 30px;
    text-align: center;
}

.wb-right-image img {
    width: 90%;
}

@media screen and (min-width: 400px) {
    #wb-video {
        top: 0;
        left: -10%;
        height: auto;
        width: 120%;
    }

    .wb-videobg {
        margin-bottom: 240px;
    }

    .wb-overvideo {
        bottom: -240px;
    }
}

@media screen and (min-width: 480px) {
    #wb-video {
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
    }

    .wb-videobg {
        margin-bottom: 240px;
    }

    .wb-overvideo {
        bottom: -240px;
    }
}

@media screen and (min-width: 600px) {
    .wb-right-image {
        display: none;
    }
    .wb-button,
    input.wb-button,
    .wb-buttons input.wb-button {
        display: inline-block;
        width: auto;
    }

    .wb-button {
        padding: 16px 28px;
    }

    .wb-photo-holder img {
        width: 480px;
        left: calc(50% - 240px);
    }

    .wb-cards li {
        flex: 48%;
    }

    .wb-card-image {
        height: 20vw;
    }

    .wb-videobg {
        margin-bottom: 280px;
    }

    .wb-overvideo {
        width: 600px;
        bottom: -280px;
        font-size: 22px;
    }

    .wb-overvideo .wb-padding {
        padding-top: 30px;
    }

    .wb-raiseup {
        margin-top: -40px;
        margin-bottom: 40px;
    }

    .wb-create-icon {
        margin-right: 40px;
    }
}

@media screen and (min-width: 768px) {
    .wb-button,
    input.wb-button,
    .wb-buttons input.wb-button {
        padding: 16px 28px;
        font-size: 20px;
    }

    .wb-cards li {
        flex: 32%;
    }

    .wb-card-image {
        height: 16vw;
    }

    .wb-videobg {
        height: 400px;
        margin-bottom: 320px;
    }

    #wb-video {
        top: -10%;
    }

    .wb-overvideo {
        width: 620px;
        font-size: 24px;
        bottom: -320px;
    }

    .wb-overvideo .wb-padding {
        padding-top: 40px;
    }

    .wb-first-item .wb-padding {
        padding-top: 40px;
    }

    .wb-option-heading {
        font-size: 28px;
    }

    .wb-card-details .wb-emoji {
        top: -50px;
        right: 20px;
        font-size: 110px;
        transform: rotate(0deg);
        transition: all 0.4s;
    }

    .wb-cards li:hover .wb-emoji {
        top: -80px;
        right: 30px;
        transform: rotate(10deg);
    }
}

@media screen and (min-width: 1024px) {
    .wb-right-image {
        position: absolute;
        pointer-events: none;
        left: 840px;
        top: 0;
        display: block;
        margin: 0;
        width: 380px;
    }

    .wb-right-image img {
        width: 100%;
    }

    .wb-photo-holder {
        top: 0;
        right: 0;
        position: absolute;
        z-index: 2;
        width: calc(100% - 840px);
    }

    .wb-photo-holder img {
        width: unset;
        left: 0;
    }

    .wb-card-image {
        height: 172px;
    }

    .wb-card-details {
        padding: 18px 28px;
    }

    .wb-imagebg .wb-padding {
        padding-top: 40px;
        padding-right: 60px;
    }

    .wb-videobg {
        height: 500px;
        margin-bottom: 240px;
    }

    .wb-overvideo {
        width: 800px;
        bottom: -240px;
    }

    .wb-option-heading {
        font-size: 34px;
    }

    .wb-create-options li {
        padding: 22px 28px;
    }

    .wb-create-icon {
        font-size: 52px;
    }
}

@media screen and (min-width: 1200px) {
    .wb-create-options li {
        padding: 24px 38px;
    }

    .wb-option-heading {
        font-size: 38px;
    }

    .wb-videobg {
        height: 600px;
    }

    #wb-video {
        top: -80px;
    }
}
