#wb-banner {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  background-color: #b88d60;
  background: linear-gradient(-45deg, #a56437, #b88d60, #a56437, #b88d60, #a56437);
  background-size: 400% 400%;
  animation: wb-copperbg 15s ease infinite;
}

#wb-banner a {
  color: #ffffff;
  text-decoration: none;
}

@keyframes wb-copperbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes wb-coppercolor {
  0% {
    color: #ccb095;
  }
  50% {
    color: #b88d60;
  }
  100% {
    color: #ccb095;
  }
}

#wb-header {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  position: relative;
}

#wb-header .wb-container {
  background-size: auto 1000%;
  background-position: center;
  padding: 20px 0 10px 0;
}

#wb-logo {
  margin: 1vw auto;
  display: block;
  width: 180px;
  height: 26px;
  overflow: hidden;
  text-indent: 500px;
  font-size: 0;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.wb-byline {
  font-size: 6px;
  text-transform: uppercase;
  position: absolute;
  top: 1vw;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 180px;
  height: 46px;
  padding: 30px 0 10px 0;
  align-items: center;
  letter-spacing: 1px;
  color: #b88d60;
  pointer-events: none;
  text-shadow: #000000 2px 2px 2px;
  animation: wb-coppercolor 6s ease infinite;
}

.wb-left-byline {
  text-align: right;
}

.wb-right-byline {
  text-align: left;
}

nav#wb-nav {
  background-color: #000000;
  color: #ffffff;
  padding: 0;
  text-align: center;
}

ul.wb-topnav {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  background-color: #000000;
  font-weight: 600;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
}

ul.wb-topnav li {
  flex-grow: 1;
}

ul.wb-topnav li a {
  display: block;
  color: #eeeeee;
  padding: 10px 14px;
  text-decoration: none;
  background-color: #000000;
  transition: background-color 0.2s;
  font-size: 10px;
}

ul.wb-topnav li a:hover {
  background-color: #222222;
  color: #ffffff;
}

ul.wb-topnav li a.wb-active-page {
  background-color: #ffffff;
  color: #000000;
}

ul.wb-navicons {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  background-color: #000000;
  font-weight: 600;
}

ul.wb-navicons li {
  flex-grow: 1;
}

ul.wb-navicons li a {
  display: block;
  color: #eeeeee;
  padding: 10px;
  text-decoration: none;
  background-color: #000000;
  transition: background-color 0.2s;
  font-size: 10px;
  position: relative;
}

ul.wb-navicons li a img {
  height: 12px;
  vertical-align: middle;
}

.wb-banner-buttons {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  max-width: 1200px;
  margin: 0 auto;
}

.wb-banner-content {
  width: -webkit-fill-available;
  padding: 8px;
}

.wb-banner-button-prev,
.wb-banner-button-next {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
}

.wb-banner-button-prev img {
  height: 10px;
  width: 10px;
  transform: rotate(90deg);
}

.wb-banner-button-next img {
  height: 10px;
  width: 10px;
  transform: rotate(-90deg);
}

@media screen and (min-width: 375px) {
  ul.wb-navicons li a img {
    height: 14px;
  }

  .wb-byline {
    font-size: 8px;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 768px) {
  #wb-banner {
    font-size: 12px;
  }
  #wb-logo {
    width: 210px;
    height: 30px;
  }

  .wb-byline {
    font-size: 9px;
    height: 48px;
    letter-spacing: 3px;
  }

  ul.wb-topnav li a {
    padding: 12px 16px;
    font-size: 12px;
  }
}

@media screen and (min-width: 1024px) {
  #wb-header .wb-container {
    background-size: cover;
  }
  .wb-byline {
    font-size: 10px;
    letter-spacing: 6px;
  }

  ul.wb-topnav li a {
    padding: 16px 24px;
    font-size: 14px;
  }
}
