/* ── Judge.me Widget ───────────────────────────────────────────────────────── */

.shopify-section:has(.jm-review-widget) {
  background-color: #efefef;
}

.jm-review-widget {
  padding: 40px 20px;
  position: relative;
}

@media screen and (min-width: 600px) {
  .jm-review-widget {
    padding: 60px 30px;
  }
}

@media screen and (min-width: 768px) {
  .jm-review-widget {
    padding: 60px 40px;
  }
}

.jm-star-rating__font-icon { animation: wb-coppercolor 6s ease infinite; }

.jm-review-item { border: none !important; }

.jdgm-review-list .jm-review-item { padding-block-end: 0 !important; }

.jm-stack { margin-block-start: 0 !important; }

.jm-button { font-weight: 800 !important; }

.jm-reviewer-avatar,
.jm-transparency-badge-list { display: none; }
