/* ── Judge.me Widget ───────────────────────────────────────────────────────── */

.shopify-section:has(.jdgm-widget) {
  background-color: #efefef;
}

.jdgm-widget {
  padding: 40px 20px;
  position: relative;
}

@media screen and (min-width: 600px) {
  .jdgm-widget {
    padding: 60px 30px;
  }
}

@media screen and (min-width: 768px) {
  .jdgm-widget {
    padding: 60px 40px;
  }
}
