.wb-option-cards {
    margin-top: 0;
}

.wb-option-cards li {
    cursor: default;
    border-radius: 48px 48px 6px 6px;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #ffffff, transparent);
    border-color: transparent;
    border-width: 0;
}

.wb-option-cards li:hover {
    border-width: 0;
    border-color: transparent;
}

.wb-option-cards li .wb-card-image {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    overflow: visible;
    transition: background 5s;
}

.wb-option-cards li .wb-card-image .wb-cask {
    height: 100%;
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 50% -5%;
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    transition: all 1s;
    background-color: inherit;
    backdrop-filter: blur(4px);
    filter: url(#glass-distortion);
}

.wb-option-cards li:hover .wb-card-image {
    background-size: 140%;
    background-position: center;
}

.wb-option-cards li:hover .wb-card-image .wb-cask {
    background-position: 50% -80%;
    background-color: transparent;
    backdrop-filter: blur(0);
    filter: none;
}

.wb-option-cards li .wb-card-details h3 {
    max-width: calc(100% - 70px);
    margin: 8px 0 0 0;
}

.wb-option-controls {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 60px;
}

.wb-option-control {
    border: 0;
    width: 60px;
    height: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
}

.wb-option-control {
    color: #000000;
    font-size: 52px;
    text-shadow: 0 0 5px #ffffff;
    background-color: rgba(255, 255, 255, 0.6);
    transform: scale(0.94);
}

.wb-option-control:hover {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.9);
}

.wb-option-control.wb-yellow-option {
    background-color: rgba(244, 228, 149, 0.6);
}

.wb-option-control.wb-yellow-option:hover {
    background-color: rgba(244, 228, 149, 0.9);
}

.wb-option-control.wb-green-option {
    background-color: rgba(155, 213, 197, 0.6);
}

.wb-option-control.wb-green-option:hover {
    background-color: rgba(155, 213, 197, 0.9);
}

.wb-option-control.wb-red-option {
    background-color: rgba(243, 211, 211, 0.6);
}

.wb-option-control.wb-red-option:hover {
    background-color: rgba(243, 211, 211, 0.9);
}

.wb-option-control.wb-blue-option {
    background-color: rgba(201, 225, 240, 0.6);
}

.wb-option-control.wb-blue-option:hover {
    background-color: rgba(201, 225, 240, 0.9);
}

.wb-option-control.wb-brown-option {
    background-color: rgba(220, 208, 188, 0.6);
}

.wb-option-control.wb-brown-option:hover {
    background-color: rgba(220, 208, 188, 0.9);
}

.wb-add-option {
    top: 0;
}

.wb-remove-option {
    top: 76px;
}

.wb-option-control div {
    border-radius: 50%;
}

.wb-option-control.wb-disabled-option {
    background-color: #cccccc;
    opacity: 0.6;
    color: #999999;
    pointer-events: none;
    text-shadow: none;
    box-shadow: none;
}

.wb-option-amount {
    position: absolute;
    padding: 16px 28px;
    left: 18px;
    top: 18px;
    font-weight: 700;
    border-radius: 30px;
    text-shadow:
        0 0 40px #ffffff,
        0 0 30px #ffffff,
        0 0 20px #ffffff;
}

.wb-liquidGlass-wrapper.wb-option-amount {
    box-shadow: none;
}

.wb-option-amount div {
    border-radius: 30px;
}

.wb-cards li.wb-notoption {
    padding: 0 20px;
    position: relative;
    border-radius: 0;
    background: transparent;
}

.wb-pies {
    width: 100%;
    position: relative;
    background-image: radial-gradient(#ffffff, #fafafa);
    border-radius: 50%;
}

.wb-pie-grid {
    background-image: url(../images/options/wb-piegrid.svg);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 100;
    border: 10px solid #ffffff;
    border-radius: 50%;
}

.wb-sticky-lab {
    position: sticky;
    position: -webkit-sticky;
    bottom: 10px;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 10px;
    margin-top: -60px;
}

.wb-lab-fillmeter {
    display: block;
    background-color: #eeeeee;
    border-radius: 40px;
    position: relative;
    height: 46px;
    overflow: hidden;
}

.wb-lab-fillmeter span {
    z-index: 2;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    height: 46px;
    display: block;
    text-shadow: 0 0 20px #ffffff;
    color: #666666;
    font-weight: 700;
    mix-blend-mode: multiply;
}

.wb-lab-fillvisual {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    border-radius: 40px;
    background-image: linear-gradient(to bottom right, #d39a00, #eac14a);
    transition: width 1s;
}
.wb-bottle-form input.wb-button {
    width: 100%;
}

@keyframes wb-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.wb-rotate {
    width: 100%;
    position: relative;
    aspect-ratio: 1;
    background-image: radial-gradient(#ffffff, #eeeeee);
    border-radius: 50%;
}

.wb-pie {
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    mix-blend-mode: multiply;
}

.wb-rotate {
    animation-name: wb-rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.wb-pie div {
    border: none;
    transition: 0.4s;
}

.wb-pie-0 {
    top: 50%;
    left: 50%;
    width: 0%;
}

.wb-pie-5 {
    top: 43%;
    left: 43%;
    width: 14%;
}

.wb-pie-10 {
    top: 38.5%;
    left: 38.5%;
    width: 23%;
}

.wb-pie-15 {
    top: 34.25%;
    left: 34.25%;
    width: 31.5%;
}

.wb-pie-20 {
    top: 30.25%;
    left: 30.25%;
    width: 39.5%;
}

.wb-pie-25 {
    top: 26.5%;
    left: 26.5%;
    width: 47%;
}

.wb-pie-30 {
    top: 23%;
    left: 23%;
    width: 54%;
}

.wb-pie-35 {
    top: 19.75%;
    left: 19.75%;
    width: 60.5%;
}

.wb-pie-40 {
    top: 16.75%;
    left: 16.75%;
    width: 66.5%;
}

.wb-pie-45 {
    top: 14%;
    left: 14%;
    width: 72%;
}

.wb-pie-50 {
    top: 11.5%;
    left: 11.5%;
    width: 77%;
}

.wb-pie-55 {
    top: 9.25%;
    left: 9.25%;
    width: 81.5%;
}

.wb-pie-60 {
    top: 7.25%;
    left: 7.25%;
    width: 85.5%;
}

.wb-pie-65 {
    top: 5.5%;
    left: 5.5%;
    width: 89%;
}

.wb-pie-70 {
    top: 4%;
    left: 4%;
    width: 92%;
}

.wb-pie-75 {
    top: 2.75%;
    left: 2.75%;
    width: 94.5%;
}

.wb-pie-80 {
    top: 1.75%;
    left: 1.75%;
    width: 96.5%;
}

.wb-pie-85 {
    top: 1%;
    left: 1%;
    width: 98%;
}

.wb-pie-90 {
    top: 0.5%;
    left: 0.5%;
    width: 99%;
}

.wb-pie-95 {
    top: 2.5%;
    left: 2.5%;
    width: 99.5%;
}

.wb-pie-100 {
    top: 0%;
    left: 0%;
    width: 100%;
}

.wb-pie.wb-yellow-pie {
    background: conic-gradient(from 0deg, #ffffff 20%, transparent 0%);
}

.wb-pie.wb-yellow-pie div {
    background: conic-gradient(from 0deg, #f4e495 20%, transparent 0%);
}

.wb-pie.wb-green-pie {
    background: conic-gradient(from 72deg, #ffffff 20%, transparent 0%);
}

.wb-pie.wb-green-pie div {
    background: conic-gradient(from 72deg, #9bd5c5 20%, transparent 0%);
}

.wb-pie.wb-red-pie {
    background: conic-gradient(from 144deg, #ffffff 20%, transparent 0%);
}

.wb-pie.wb-red-pie div {
    background: conic-gradient(from 144deg, #f3d3d3 20%, transparent 0%);
}

.wb-pie.wb-blue-pie {
    background: conic-gradient(from 216deg, #ffffff 20%, transparent 0%);
}

.wb-pie.wb-blue-pie div {
    background: conic-gradient(from 216deg, #c9e1f0 20%, transparent 0%);
}

.wb-pie.wb-brown-pie {
    background: conic-gradient(from 288deg, #ffffff 20%, transparent 0%);
}

.wb-pie.wb-brown-pie div {
    background: conic-gradient(from 288deg, #dcd0bc 20%, transparent 0%);
}

.wb-lab-inputs {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    margin-bottom: 20px;
}

.wb-lab-input {
    width: 100%;
}

.wb-lab-price {
    position: absolute;
    top: 30px;
    right: 20px;
    transform: rotate(10deg);
    z-index: 2;
}

@media screen and (min-width: 400px) {
    .wb-cards li.wb-notoption {
        padding: 0 30px;
    }
}

@media screen and (min-width: 600px) {
    .wb-sticky-lab {
        position: absolute;
        position: -webkit-absolute;
        margin: 20px auto;
        bottom: 40px;
        width: calc(50% - 80px);
        right: 50px;
    }

    .wb-lab-inputs {
        flex-direction: row;
        gap: 40px;
    }

    .wb-lab-input {
        width: 50%;
    }

    .wb-lab-price {
        top: 40px;
        right: 40px;
        transform: rotate(20deg);
    }
}

@media screen and (min-width: 768px) {
    .wb-cards li.wb-notoption {
        height: 30vw;
    }
    .wb-option-cards li .wb-card-details h3 {
        max-width: unset;
    }

    .wb-lab-fillmeter {
        height: 52px;
    }

    .wb-lab-price {
        top: 60px;
        right: auto;
        left: 280px;
        transform: rotate(10deg);
    }
}

@media screen and (min-width: 1024px) {
    .wb-lab-input input {
        font-size: 32px;
    }

    .wb-lab-price {
        top: 66px;
        left: 340px;
    }
}

@media screen and (min-width: 1080px) {
    .wb-sticky-lab {
        width: calc(33% - 80px);
        right: 60px;
        bottom: 60px;
    }
    .wb-cards li.wb-notoption {
        height: 300px;
    }
}
